<div>
    <a class="p-link" href="https://www.merriam-webster.com/dictionary/{{block.entity.value}}">View in Merriam-Webster {{fa-icon "external-link-square" fixedWidth=true class="external-link"}}</a>
    <br><br>
    {{#each details as |detail|}}
        <p>Entry: <b>{{detail.hw}}</b></p>
        {{#if detail.type}}
            <p>Usage: <b>{{detail.type}}</b></p>
        {{/if}}
        {{#if detail.defs}}
            <p>Definitions:</p>
            <ol>
                {{#each detail.defs as |def|}}
                    <li><b>{{def}}</b></li>
                {{/each}}
            </ol>
        {{/if}}
        <br>
    {{/each}}
</div>